html {
    font-family: 'Montserrat Alternates', sans-serif;

}
body {
    font-family: 'Montserrat Alternates', sans-serif;
    background-color: white;

}
header {
    background-color: #364552;
}

.image-body {
    background-image: url(../img/bg.jpg);
    background-size: auto;
    background-position: center center;
    background-repeat: no-repeat;
    height: 100vh;
    
}

.nav-item {
    padding: 0px;
    width: 70px;
    height: 50px;
    font-size: 30px;

}

image-body h1 {
    font-size: 4rem;

}

image-text {
    font-size: 4rem;
}

footer {
    background-color: #222;
    padding: 5rem;
    color: #fff;
}

footer section {
    float: left;
    
}

footer p {
    margin: 0;
}

footer a {
    transition: color 0.3s ease;
    color: #fff;
    text-decoration: none;
}

footer a:hover {
    color: #364552;
}
